# Afrita skal þessa skrá í .env og setja rétta slóð á gagnagrunn
# DATABASE_URL=postgres://<USER>:<PASS>@localhost/<DATABASENAME>
# JWT_SECRET=$dk3Ae9dknv#Gposiuhvkjkljd
# JWT_TOKEN_LIFETIME=604800
# PORT=3000